body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: "open sans";
}

input {
	border: 1px solid #b8b8b8;
	padding: 0.25em;
	border-radius: 3px;
}

.dorcx_button {
	margin-top: 10px;
	border: 1px solid #e1e1e1;
	box-shadow: inset  0px 0px 2px #ffffff;
	text-shadow:0px 1px 1px #fff;
	color: #333333;
	font-size: 13px;
	border-radius: 3px;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	background-image: linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -o-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -moz-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -ms-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(252,252,252)), color-stop(1, rgb(238,238,238)));
}

.dorcx_button:hover {
	margin-top: 10px;
	border: 1px solid #e1e1e1;
	box-shadow: inset  0px 0px 10px #dedede;
	text-shadow:0px 1px 1px #fff;
	color: #dedede;
	font-size: 13px;
	border-radius: 3px;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	background-image: linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -o-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -moz-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -webkit-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -ms-linear-gradient(top, rgb(252,252,252) 0%, rgb(238,238,238) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(252,252,252)), color-stop(1, rgb(238,238,238)));
}

/****** login page ******/

#login {
	width:600px;
	margin-left: 30px;
	margin-top: 30px;
	float: left;
}

#login .logo {
	width:600px;
	float: left;
	font-family: "open sans";
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -1;
	color: #777777;
	position: fixed;
	top:30;
	left:30;
	z-index: 1;

}

#login .title {
	width:600px;
	float: left;
	font-family: "open sans";
	font-size: 32px;
	font-weight: 100;
	letter-spacing: -1;
	color: #333333;
	margin-bottom: 10px;
	margin-top: 115px;
	color: #444444;
}

#login .description {
	width:500px;
	font-family: "open sans";
	float: left;
	font-size: 15px;
	line-height: 24px;
	font-weight: 100;
	color: #444444;

}

#login .description li {	
	margin-left: 0px;
	font-size: 14px;
	color: #444444;
}

#login .description a {
	color: #7a72e1;
}

#login input#email {
	width: 20em;
}

#login #illustration .peer {
	width: 20px;
	height: 20px;
	border: 1px solid #b8b8b8;
	border-radius: 16px;
	display: block;
	position: fixed;
	right:350px;
	top:150px;
	padding: 5px;
	text-align: center;
	background-color:#ffffff;
}

#login #login-form {
	position: fixed;
	right: 1em;
	top: 1em;
}

#login #login-form .dorcx_button {
	padding: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
}

/****** posting box ******/

#sign-out {
	float: right;
	margin-right: 2%;
	text-decoration: none;
	font-size: 12px;
	color: #5e5e5e;
}

.postables {
	width:28%;
	right: 2%;
	color: #5e5e5e;
	font-weight: 500;
	top: 150px;
	position:fixed;
	border-left: 1px solid #ededed;
	padding-left: 30px;
}

.postables_box {
	width:90%;
	margin-right: 10%;
	border: 1px solid #d1d1d1;
	padding: 10px;
	font-size: 14px;
	float: left;
}

.postables_box.error {
	border: 1px solid #ff8888;
}

.postable_button {
	width:100%;
	float: left;
	height:50px;
	margin-top: 20px;
}

/***** error/propogating messages  ******/

#messages {
	position: fixed;
	width: 28%;
	right: 2%;
	bottom: 10px;
}

.message {
	background-color: #f8f8f8;
	font-size: 11px;
	padding: 10px;
	color: #5e5e5e;
	border-radius: 6px;
}

.message i {
	padding: 10px;
}

.message.error {
	background-color: #fff8f8;
	color: #ff5e5e;
}

.propogating_message {
	width:89%;
	margin-right: 2%;
	bottom: 10px;
	font-size: 14px;
	font-weight: 100;
	padding: 10px;
	color: #5e5e5e;
	border-radius: 6px;
	margin-bottom: 40px;
}

.propogating_message i {
	padding: 10px;

}

/***** timeline *****/

.timeline {
	width:68%;
	margin-left: 2%;
	margin-top: 150px;
	float: left;
}

.post_item {
	color: #5e5e5e;
	font-weight: 500;
	margin-top: 0px;
	float: left;
	width: 100%;
	padding-bottom: 120px;
}

.post_content_user {
	width:8%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.post_item_user_image {
	width:100%;
	height: auto;
	overflow: hidden;
	border-radius: 3px;
	float: left;
	padding-right: 20px;
}

.post_item_user_image img {
	width:100%;
	height: auto;
	overflow: hidden;
	border-radius: 3px;
}

.post_content_life {
	width:75%;
	float: left;
}

.post_user_name {
	width:auto;
	height: 20px;
	font-size: 11px;
	margin-left: 20px;
	float: left;
}

.post_update {
	width:auto;
	font-size: 10px;
	margin-top: 1px;
	margin-left: 10px;
	float: left;
	color: #d1d1d1;
}

.post_update_content {
	width:100%;
	margin-left: 20px;
	float: left;
	font-size: 15px;
	line-height: 21px;
	font-weight: 300;
}

.post_post {
	width:auto;
	font-size: 10px;
	margin-top: 1px;
	margin-left: 10px;
	float: left;
	color: #d1d1d1;
}

.post_post_title {
	width:100%;
	height: 20px;
	font-size: 18px;
	margin-left: 20px;
	float: left;
	color: #0077cc;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 10px;
	border-bottom: 1px dotted #dedede;
	padding-bottom: 15px;
}

.post_post_content {
	width:100%;
	margin-left: 20px;
	float: left;
	font-size: 15px;
	line-height: 21px;
	font-weight: 300;
}

.post_post_photo {
	width:100%;
	height: auto;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post_post_photo img {
	width:600px;
	height: auto;
}
