<div class="post_item">
	<div class="post_content_user">
		<div class="post_item_user_image">
			<img src='{{ avatar_url }}' class='avatar' email="{{email}}" width="128" alt='{{name}}{{^name}}{{email}}{{/name}}' title='{{name}}{{^name}}{{email}}{{/name}}'/>
		</div>
	</div>
	<div class="post_content_life">
		<div class="post_user_name">{{name}}</div>
		<div class="post_update">{{source}}</div>
		<div class="post_update_content">
			<p class='subject'>{{subject}}</p>
			<p>{{body}}</p>
		</div>
	</div>

</div>
