<p>
	great, you are all signed in to your email box.
</p>

<p>
	now we're going to build the dorcx subfolders inside your mailbox.
	this is where we'll store all the posts you send and receive from people.
	everything will be in a subfolder called "dorcx".
</p>

<p>
	is that ok?
</p>

<div>
	<button id="setup-folders-no">no</button> <button id="setup-folders-yes">yes</button>
</div>

<p>
	if you decide you don't want to use dorcx any more you can just delete the "dorcx" subfolder in your email box and all of your posts etc. will disappear.
	you have total control.
</p>
